{% if site.reference_nav %}
<ul>
	<li><a href="/reference/buttons/">Buttons</a></li>
	<li><a href="/reference/colors/">Colors</a></li>
	<li><a href="/reference/debug/">Debug</a></li>
	<li><a href="/reference/fancy-type/">Fancy Type</a></li>
	<li><a href="/reference/form/">Form</a></li>
	<li><a href="/reference/grid/">Grid</a></li>
	<li><a href="/reference/interaction/">Interaction</a></li>
	<li><a href="/reference/internet-explorer/">Internet Explorer</a></li>
	<li><a href="/reference/link-icons/">Link Icons</a></li>
	<li><a href="/reference/liquid/">Liquid</a></li>
	<li><a href="/reference/print/">Print</a></li>
	<li><a href="/reference/reset/">Reset</a></li>
	<li><a href="/reference/rtl/">RTL</a></li>
	<li><a href="/reference/scaffolding/">Scaffolding</a></li>
	<li><a href="/reference/typography/">Typography</a></li>
	<li><a href="/reference/utilities/">Utilities</a></li>
</ul>
{% endif %}